<section>
  <h1>Holler at Me</h1>
  <p>
    <a href="https://github.com/peterfschaadt"><img src="/images/icons/github.png" /></a>
    <a href="https://twitter.com/peterschaadt"><img src="/images/icons/twitter.png" /></a>
    <a href="https://www.linkedin.com/profile/view?id=93642736"><img src="/images/icons/linkedin.png" /></a>
    <a href="https://plus.google.com/106197844179274757910"><img src="/images/icons/googleplus.png" /></a>
    <a href="/contact"><img src="/images/icons/gmail.png" /></a>
  </p>
</section>
